@import java.util.Date
@(book:Book, date:Date)

@main(book.title + " ~今日おすすめの一冊~") {
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2 mt">
                    <h1 class="animation slideDown" style="margin-top:-60px">@("%tY/%<tm/%<td" format date)のおすすめ本</h1>
                    <a href="@book.link" target="_blank">
                        <img width="350" class="img-responsive" src="@book.imageUrl" alt="@book.title" style="margin-top:20px" />
                        <div class="row mt">
                            <div class="col-lg-8 col-lg-offset-2" style="color:#FFF; margin-top:-20px; margin-bottom:-60px">
                                <p>@book.description</p>
                            </div><! --/col-lg-8 -->
                        </div><!-- /row -->
                        <p class="mt"><button type="button" class="btn btn-cta btn-lg">読んでみる</button></p>
                    </a>
                </div>
    
            </div><!-- /row -->
        </div><!-- /container -->
    </div> <!-- /headerwrap -->
    <!--<h1>@book.title</h1>

    <a href="@book.link">
        <img src="@book.imageUrl" alt="@book.title" height="300">
        <p>@book.description</p>
    </a>-->
}
