@import java.util.Date
@(book:Book, date:Date)

@main(book.title + " ~今日おすすめの一冊~") {
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2 mt">
                    <h1 class="animation slideDown" style="margin-top:-60px">@("%tY/%<tm/%<td" format date)のおすすめ本</h1>
                    <a href="@book.link" target="_blank">
                        <img width="350" class="img-responsive" src="@book.imageUrl" alt="@book.title" style="margin-top:20px" />
                        <div class="row mt">
                            <div class="col-lg-8 col-lg-offset-2" style="color:#FFF; margin-top:-20px; margin-bottom:-60px">
                                <p>@book.description</p>
                            </div><! --/col-lg-8 -->
                        </div><!-- /row -->
                        <p class="mt"><button type="button" class="btn btn-cta btn-lg" style="margin-bottom:-40px">読んでみる</button></p>
                    </a>
                </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </div> <!-- /headerwrap -->
    <div id="white">
        <div class="container">
            <div class="row mt">
                <div class="col-lg-4 col-lg-offset-4 centered">
                    <h3>サービス紹介</h3>
                    <hr>
                </div>
            </div>
            <div class="row mt">
                <div class="col-lg-3">
                    <p class="capitalize">1</p>
                    <h4>素敵な本に出会いましょう</h4>
                    <p>ふと本屋に入って本に素敵な本に出会ったことはありませんか？そんな感覚をWebでも味わっていただけたらと思いこのページを作りました。</p>
                </div>
                <div class="col-lg-3">
                    <p class="capitalize">2</p>
                    <h4>365日毎日更新</h4>
                    <p>スタッフが厳選したおすすめの本を毎日紹介いたします。あなただけのお気に入りの本にきっと出会えるでしょう。</p>
                </div>
                <div class="col-lg-3">
                    <p class="capitalize">3</p>
                    <h4>20代/30代の社会人へ</h4>
                    <p>主なターゲットは若い社会人の方です。夢や働き方、思考についての本を中心にご紹介させていただきます。</p>
                </div>
                <div class="col-lg-3">
                    <p class="capitalize">4</p>
                    <h4>登録は一切不要です</h4>
                    <p>ユーザ情報の登録などは一切必要ありません。本屋に入るときのように軽い気持ちで立ち寄ってください。</p>
                </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /white -->
}
